<!DOCTYPE html>
<html lang = 'en' class="w3-text-white">
    <head>
        <title>Caya - Inventory Management</title>
        <!-- Meta Data -->
        <meta name="viewport" content="initial-scale=1.0, width=device-width">
        <meta name="author" content="viacara">
        <!-- CSV Files -->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Merienda:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
        <!-- JS Files -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{url_for('static', filename = 'main.js')}}"></script>
        

    </head>
    <body onload="initLoad()">
        <!-- Navbar -->
        <div class="w3-bar w3-white">
            <div class="w3-bar-item w3-button w3-padding w3-hover-blue w3-margin-right w3-border w3-border-black" onclick="open_modal('modal_add_components')">ADD +</div>
            <div class="w3-bar-item w3-button w3-padding w3-hover-blue w3-margin-right w3-border w3-border-black" onclick="open_modal('modal_return_components')">RETURN +</div>
            <div class="w3-bar-item w3-button w3-padding w3-hover-blue w3-margin-right w3-border w3-border-black">ORDER +</div>

            <div class="w3-bar-item w3-right"><b>Caya</b></div>
        </div>
        <!-- Header -->
        <header class="w3-container w3-text-white" style="padding-top:22px">
            <h5><b><i class="fa fa-dashboard"></i> Caya Dashboard</b></h5>
        </header>
        {% if compData != None %}
        <div class="w3-row-padding w3-margin-bottom">
            <div class="w3-quarter">
            <div class="w3-container w3-blue w3-padding-16">
                <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
                <div class="w3-right">
                <h3 id="id_components">{{ compData[2] }}</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>Full-Stock</h4>
            </div>
            </div>
            <div class="w3-quarter">
            <div class="w3-container w3-blue w3-padding-16">
                <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
                <div class="w3-right">
                <h3 id="id_stock">{{ compData[4] }}</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>In-Stock</h4>
            </div>
            </div>
            <div class="w3-quarter">
            <div class="w3-container w3-blue w3-padding-16">
                <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
                <div class="w3-right">
                <h3 id="id_withdrawn">{{ compData[2] | int - compData[4] |int }}</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>Withdrawn</h4>
            </div>
            </div>
            <div class="w3-quarter">
            <div class="w3-container w3-blue w3-text-white w3-padding-16">
                <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
                <div class="w3-right">
                <h3 id="id_users">0</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>Users</h4>
            </div>
            </div>
        </div>
        {% endif %}
        {% if compData==None %}
        <div class="w3-row-padding w3-margin-bottom">
            <div class="w3-quarter">
            <div class="w3-container w3-blue w3-padding-16">
                <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
                <div class="w3-right">
                <h3 id="id_components">0</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>Full-Stock</h4>
            </div>
            </div>
            <div class="w3-quarter">
            <div class="w3-container w3-blue w3-padding-16">
                <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
                <div class="w3-right">
                <h3 id="id_stock">0</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>In-Stock</h4>
            </div>
            </div>
            <div class="w3-quarter">
            <div class="w3-container w3-blue w3-padding-16">
                <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
                <div class="w3-right">
                <h3 id="id_withdrawn">0</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>Withdrawn</h4>
            </div>
            </div>
            <div class="w3-quarter">
            <div class="w3-container w3-blue w3-text-white w3-padding-16">
                <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
                <div class="w3-right">
                <h3 id="id_users">0</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>Users</h4>
            </div>
            </div>
        </div>
        {% endif %}
        <div class="w3-panel">
            <div class="w3-row-padding" style="margin:0 -16px">
              <div class="w3-third">
                <h5 class="w3-text-white w3-bottombar w3-border-blue w3-bold">Component Search</h5>
                <div class="w3-container w3-padding">
                    <div class="w3-card-4 w3-white">
                        <div class="w3-bar w3-blue w3-padding w3-text-black">Vault</div>
                        <br><br><br>
                        <div class="w3-row w3-padding">
                            <form action="/search_comp" method="POST">
                                <input id="autocomplete" list="component-search" name="search_component" class="w3-input w3-light-grey w3-threequarter w3-round w3-margin-right" type="search">
                                <datalist id="component-search">
                                    {% block javascript %}
                                        refresh_components({{comp | tojson}});
                                    {% endblock %}
                                </datalist>
                                <button class="w3-button w3-blue"><i class="fa fa-search"></i> Search</button>
                            </form>
                        </div>
                        <div class="w3-row w3-padding">
                            <p class="w3-half">{{compData[1]}}</p>
                            <p class="w3-half">{{compData[3]}}</p>
                        </div>
                        <form method="POST" action="/borrow_comp">
                            <div class="w3-row">
                                <button class="w3-button w3-margin w3-blue w3-hover-yellow" type="submit">Borrow Component</button>
                                <input name="borrow_qty" type="number" placeholder="QTY" class="w3-input w3-quarter w3-margin w3-light-grey">
                            </div>
                        </form>
                    </div>
                </div>
              </div>
              <div class="w3-twothird">
                <h5 class="w3-text-white w3-bold w3-bottombar w3-border-blue">Feeds</h5>
                <table id="feed-table" class="w3-table w3-striped w3-white"></table>
                <script type="text/javascript">
                    
                </script>
              </div>
            </div>
        </div>
            <hr>
            
            <hr>
            <div class="w3-container w3-dark-grey w3-padding-32">
                <div class="w3-row">
                    <div class="w3-container w3-third">
                        <h5 class="w3-bottombar w3-border-green">Vendors</h5>
                        <p><a href="https://www.evelta.com/" target="_blank">Evelta</a></p>
                        <p><a href="https://www.mouser.in/" target="_blank">Mouser</a></p>
                        <p><a href="https://www.amazon.in/" target="_blank">Amazon</a></p>
                    </div>
                    <div class="w3-container w3-third">
                        <h5 class="w3-bottombar w3-border-red">Export</h5>
                        <p><i class="fa fa-download"></i> <a href="#" onclick="download()">CSV</a></p>
                        
                    </div>
                    <div class="w3-container w3-third">
                        <h5 class="w3-bottombar w3-border-orange">Feedback</h5>
                        <textarea class="w3-padding" id="feedback" rows="3" cols="60"></textarea>
                        <hr>
                        <button class="w3-button w3-blue w3-text-black"><i class="fa fa-send"></i> <a href="mailto:adityaraj.bhatt@vicara.co"></a>Send</button>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <footer class="w3-container w3-padding w3-light-grey">
            <p>Developed @ <a href="https://www.vicara.co/home" target="_blank">Araciv Technologies Pvt.Ltd</a></p>
            </footer>
            <!-- Data List -->
            
            <!-- Modal -->
            <div id ="modal_add_components" class="w3-modal w3-card-4">
                <div class="w3-modal-content w3-grey">
                    <span onclick="close_modal('modal_add_components')" class="w3-button w3-display-topright">&times;</span>
                    <div class="w3-bar w3-blue w3-center w3-padding-16">ADD COMPONENT</div>
                    <br><br>
                    <div class="w3-container">
                        <form class="w3-form" method="POST" action="/add_comp">
                            <select name="inp_add_comp_category" class="w3-input" placeholder="CATEGORY">
                                <option value="Events">Events</option>
                                <option value="Durables">Durables</option>
                                <option value="Consumables">Consumables</option>
                                <option value="Archives">Archives</option>
                                <option value="Stationery">Stationery</option>
                            </select>
                            <hr>
                            <div class="w3-row">
                                <input name="inp_add_comp_name" id="inp_comp_add_name" class="w3-input w3-margin w3-twothird" type="text" placeholder="COMPONENT NAME">
                                <input name="inp_add_comp_qnty" class="w3-input w3-margin w3-quarter" type="number" placeholder="QTY">
                            </div>
                            <input name="inp_add_comp_loc" class="w3-input" type="text" placeholder="COMPONENT LOCATION (Eg. 1-1)">
                            <hr>
                            <div class="w3-row">
                                <button class="w3-input w3-button w3-blue w3-quarter w3-margin w3-hover-green" type="submit">ADD ( + )</button>
                                <button class="w3-input w3-button w3-blue w3-quarter w3-margin w3-hover-red" onclick="close_modal('modal_add_components')">CANCEL</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="modal_return_components" class="w3-modal w3-card-4">
                <div class="w3-modal-content w3-light-grey">
                    <span onclick="close_modal('modal_return_components')" class="w3-button w3-display-topright">&times;</span>
                    <div class="w3-bar w3-blue w3-center w3-padding-16">RETURN COMPONENT</div>
                    <div class="w3-container">
                        <form name="ret_comp" class="w3-input" method="POST" action="/return_comp">
                            <div class="w3-row w3-padding">
                                <input type="text" class="w3-input w3-padding w3-margin w3-third" name="compName"  placeholder="Component Name">
                                <input type="number" class="w3-input w3-padding w3-quarter w3-margin" name="ret_qty" placeholder="QTY">
                            </div>
                            <div class="w3-row w3-padding">
                                <button class="w3-input w3-button w3-blue w3-quarter w3-margin w3-hover-green" type="submit">RETURN( + )</button>
                                <button class="w3-input w3-button w3-blue w3-quarter w3-margin w3-hover-red" onclick="close_modal('modal_return_components')">CANCEL</button>
                            </div>
                        </form>
                    </div>
                    <br><br>
                </div> 
            </div>
            <!-- End page content -->
        </div>
    </body>
</html>

